<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()"> ¡MENU!
      <!-- <img src="./assets/svg/icon_menu.svg" alt="menu"> -->
    </button>
    <a routerLink="/home"> LOGO
      <!-- <img src="./assets/svg/logo_yard_sale.svg" alt="logo"> -->
    </a>


  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button (click)="toggleMenu()">Close</button>
    <ul>
      <li><a routerLink="/home">All</a></li>
    </ul>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" routerLink="/home"> LOGO
      <!--   <img src="./assets/svg/logo_yard_sale.svg" alt="logo"> -->
      </a>
      <ul>
        <li><a routerLinkActive="active" routerLink="/home">HOME</a></li>

      </ul>
    </nav>
    <div class="info">
      <div class="account">

      </div>

    </div>
  </div>
</div>
