
<div class="news-detail" *ngIf="articleChosen">

  <div *ngIf="newsFeed" class="news-content" >
    <h1>{{ articleChosen.title }}</h1>
    <h1>{{ articleChosen.summary | shortDescription}}</h1>
    <p>{{ articleChosen.published_date | date }}</p>
    <a routerLink="/news" [queryParams]="{
      q: newsFeed.user_input.q,
      lang: newsFeed.user_input.lang,
      page: newsFeed.page,
      i: articleChosen.index}">Ver detalle</a>
  </div>
  <svg class="polygon">
  </svg>
  <div class="news-picture">
    <figure class="img"><app-img [img]="articleChosen.media">
    </app-img></figure>
  </div>
</div>

<div *ngIf="newsFeed!==null" class="news--grid">
  <app-news [article]="article"
  *ngFor="let article of newsFeed.articles"
  (showArticle)="onShowDetail($event)"></app-news>

 <button  *ngIf="page!==1" (click)="onLoadPrevious()">Load Less</button>
 <button *ngIf="newsFeed.total_pages!==page" (click)="onLoadNext()">Load More</button>
</div>
