

<div class="news-detail" [class.active]="openDeatilNews" *ngIf="articleChosen">
<div class="box">
  <section class="exit-btn">
  <a class="exit-icon" (click)="toggleNewsDetail()">
    <img src="../../../../../assets/svg/icon_exit_X.svg" alt="exit button">
  </a>
</section>
  <section *ngIf="newsFeed" class="news-content" >
    <h1>{{ articleChosen.title }}</h1>
    <h1>{{ articleChosen.summary | shortDescription}}</h1>
    <p>{{ articleChosen.published_date | date }}</p>
    <a routerLink="/news" [queryParams]="{
      q: newsFeed.user_input.q,
      lang: newsFeed.user_input.lang,
      page: newsFeed.page,
      i: articleChosen.index}">Ver detalle</a>
  </section>
  <svg class="polygon">
  </svg>
  <section class="news-picture">
    <figure class="img"><app-img [img]="articleChosen.media">
    </app-img></figure>
  </section>
</div>
</div>

<div *ngIf="newsFeed!==null" class="news--grid">
  <app-news (click)="toggleNewsDetail()" [article]="article"
  *ngFor="let article of newsFeed.articles"
  (showArticle)="onShowDetail($event)"></app-news>

 <button  *ngIf="page!==1" (click)="onLoadPrevious()">Load Less</button>
 <button *ngIf="newsFeed.total_pages!==page" (click)="onLoadNext()">Load More</button>
</div>
