
<div class="news-detail" *ngIf="articleChosen">

  <div class="news-content" >
    <h1>{{ articleChosen.title }}</h1>
    <p>{{ articleChosen.published_date | date }}</p>
  </div>
  <div class="news-picture">
    <app-img [img]="articleChosen.media">
    </app-img>
  </div>
</div>

<div *ngIf="newsFeed!==null" class="news--grid">
  <app-news [article]="article"
  *ngFor="let article of newsFeed.articles"
  (showArticle)="onShowDetail($event)"></app-news>
 <button  *ngIf="page!==1" (click)="onLoadPrevious()">Load Less</button>
 <button *ngIf="newsFeed.total_pages!==page" (click)="onLoadNext()">Load More</button>
</div>
