.news--grid {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.news-detail {
  top: 0;
  background: #afcc48ab;
  display: flex;
  transition: all ease-out .5s;
  box-shadow: 0px 0px 5px rgba(black,.5);
	padding: 1em 2em;

  margin-bottom: 5%;
}

// tablets
@media screen and (min-width: 40em) and (max-width: 63.9em){
  .news--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}

// web
@media screen and (min-width: 64em){
  .news--grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}
