.news--grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 18px;
  padding: 0 1em;
}
.news-detail {
  top: 0;
  .box{
      background-color: whitesmoke;
      display: flex;
      transition: all ease-out .5s;
      box-shadow: 0px 0px 5px rgba(black,.5);
      padding: 1em 2em;
      margin-bottom: 5%;
      width: 65%;
      height: 25em;
      min-width: 700px;
      align-items:center;
      position: relative;

      .exit-btn{
        .exit-icon{
          opacity: 0;
          top: 2%;
          right: 2%;
          cursor: pointer;
        }
      }
      .polygon{
        max-width: 73.75em;
        min-width: 31.25em;
        height: 25em;
        position: absolute;
        top: 5%;
        left: 0;
        vertical-align: middle;
        background-color: whitesmoke;
      -webkit-clip-path: polygon(0% 0%,100% 0%,50% 100%,0% 100%);
      clip-path: polygon(0% 0%,100% 0%,50% 100%,0% 100%);
      z-index: 1;

      }
      .news-content{
        left: 20px;
        height: 400px;
        margin-right: 100px;
        position: absolute;
        top: 5%;
        background-color: transparent;
        z-index: 2;
      }
      .news-picture{
        position: absolute;
        top: 5%;
        left: 0;
        z-index: 0;
        .img{
          width: 43.75em;
          height: 25em;
        }
      }
  }
}

//mobile
@media screen and (max-width: 40em){
  .news--grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

  }

  .news-detail {

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateX(-120%);
    transition: all ease-out .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    .box{
      .exit-btn{
        .exit-icon{
          opacity: 1;
          position: absolute;
        }
      }
      min-width: 380px;
      .polygon{
        max-width: 21.25em;
        min-width: 11.25em;
        height: 20em;
        left: 3%;
        vertical-align: middle;
        background-color: whitesmoke;
      -webkit-clip-path: polygon(0% 20%,60% 20%,60% 0%,100% 50%,60% 100%,60% 80%,0% 80%);
      clip-path: polygon(0% 20%,60% 20%,60% 0%,100% 50%,60% 100%,60% 80%,0% 80%);
      }
      .news-content{
        width: 55%;
        top: 25%;
      }
      .news-picture{
        top: 10%;
        left: 5%;
        .img{
          width: 25.75em;
        }
      }
    }
    &.active{
      transform: translateX(0);
    }
  }
}

//mini-tablets
@media screen and (min-width: 40.1em) and (max-width: 50em){
  .news--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }

  .news-detail {
    .box{

    min-width: 550px;
      .news-content{
        max-width: 40%;
      }
      .polygon{
        min-width: 23.25em;
        top: 0;
      }
      .news-picture{
        top: 10%;
        .img{
          width: 37.5em;
        }
      }
    }
  }
}

// tablets
@media screen and (min-width: 50.1em) and (max-width: 68.9em){
  .news--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
  .news-detail {
    .box{
      .news-content{
        max-width: 400px;
      }

      .news-picture{
        left: 10%;
      }
    }
  }
}

// web-mid
@media screen and (min-width: 69em) and (max-width: 92em){
  .news-detail {
    .box{
      .polygon{
        left: 5%;
      }
      .news-content{
      max-width: 400px;
      }
      .news-picture{
        left: 25%;
      }
    }
  }
}

// web-large
@media screen and (min-width: 92.1em){
  .news--grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }

  .news-detail {
    .box{
      .polygon{
        left: 26%;
      }
      .news-content{
        max-width: 60%;
      }
      .news-picture{
        left: 40%;
      }
    }
  }

}
